<h1>About DAMN TIME</h1>
<p>Nothing to see here, move along.</p>
<p> need to learn css so that you can actually read this.
Also need someone who can see colors to pick a palette...Jen -> looking at you ಠ‸ಠ 
